<form [formGroup]="miFormulario" (ngSubmit)="registrar()" class="login100-form" autocomplete="off">

    <span class="login100-form-title p-b-49">
        Nuevo Profesor
    </span>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Nombre</span>
        <input formControlName="nombre" class="input100" type="text" name="nombre" placeholder="Ingrese tu nombre" required>
        <span *ngIf="campoNoValido('nombre')" class="form-text text-danger">Debe Ingresar un nombre con minimo 3 caracteres</span>
    </div>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Apellido</span>
        <input formControlName="apellido" class="input100" type="text" name="apellido" placeholder="Ingrese tu apellido" required>
        <span *ngIf="campoNoValido('apellido')" class="form-text text-danger">Debe Ingresar un Apellido con minimo 3 caracteres</span>
    </div>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">DNI</span>
        <input formControlName="dni" class="input100" type="number" name="dni" minlength="8" maxlength="8" placeholder="Ingrese tu dni" required>
        <span *ngIf="campoNoValido('dni')" class="form-text text-danger">Debe rellnar el campo DNI (8 Digitos)</span>
    </div>
    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Teléfono</span>
        <input formControlName="telefono" class="input100" type="tel" name="telefono" minlength="9" maxlength="9" placeholder="Ingrese tu telefono" required>
        <span *ngIf="campoNoValido('telefono')" class="form-text text-danger">Debe rellnar el campo Telefono (9 Digitos)</span>
    </div>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Email</span>
        <input formControlName="email" class="input100" type="email" name="email" placeholder="Ingrese su email" required>
        <span *ngIf="campoNoValido('email')" class="form-text text-danger">Debe rellenar el campo email </span>
    </div>

    <div class="wrap-input100 m-b-23">
        <span class="label-input100">Especialidad</span>
        <input formControlName="especialidad" class="input100" type="text" name="especialidad" placeholder="Ingrese su especialidad" required>

        <span *ngIf="campoNoValido('especialidad')" class="form-text text-danger">Debe rellnar el campo Especialidad</span>
    </div>
    <!-- <div *ngIf="mensaje" class="text-right p-t-8 p-b-31">

    </div> -->

    <div class="container-login100-form-btn m-b-30">
        <div class="wrap-login100-form-btn">
            <div class="login100-form-bgbtn"></div>
            <button class="login100-form-btn" type="submit" [disabled]="miFormulario.invalid">
                Registrar
            </button>
        </div>
    </div>


</form>