<div class="row">

    <h1 class="text-center">Sección</h1>

    <button mat-button color="primary" [routerLink]="['./Agregar']">Agregar Sección</button>
</div>

<div class="row">
    <div *ngIf="seccions().length===0" class="alert-warning">
        <h2 class="text-center mt-2">No hay Secciones por mostrar</h2>
    </div>
    <!-- Lista de secciones -->
    <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 m-t-15 m-b-10" *ngFor="let item of seccions()">
        <mat-card>
            <mat-card-title>Sección: {{item.nombre}}</mat-card-title>
            <mat-card-subtitle>Alumnos: {{item.alumno.length}}</mat-card-subtitle>
            <mat-card-subtitle>Maximo en la seccion: {{item.limite}}</mat-card-subtitle>
            <mat-card-subtitle>N° Cursos: {{item.curso.length}}</mat-card-subtitle>
            <mat-card-actions align="end">
                <!-- <button mat-button>LIKE</button> -->
                <button mat-button [routerLink]="['/Menu/Seccion',item._id]" color="primary">Ver</button>
            </mat-card-actions>
        </mat-card>
    </div>



</div>